* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Serif Pro", serif;
  background: #f5f9c9;
  font-size: 18px;

  /* background-image: url(./img/pexels-brett-sayles-2479312.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}

/* Navbar */

.logo {
  float: left;
  margin: 10px 20px;
}

.logo a {
  text-decoration: none;
  color: #fff;
}

.nav {
  padding: 20px;
  text-align: right;
  box-shadow: 0 1px 5px #000;
  background: #d22a;
}

.nav__li {
  display: inline;
  border-radius: 20px;
  border: 2px #fff solid;
  background: #d223;
  padding: 9px;
  margin: 0 6px;
  box-shadow: 0px 4px 10px #000;
}

.nav__li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.5px;
}
.nav__li:hover {
  background: #d226;
  cursor: pointer;
}
.nav__li:hover a > .nav__li {
  background: #d226;
}

/* Portada */

.container__img {
  width: 100%;
  height: 500px;
  min-height: 150px;
  background-image: url(./img/pexels-joseph-redfield-1870438.jpg);
  background-position: center;
  background-size: 150%;
  background-repeat: no-repeat;
  animation: move 10s linear infinite alternate;
  position: relative;
}

@keyframes move {
  from {
    background-position: right;
  }
  to {
    background-position: left;
  }
}

.img__capa-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-linear-gradient(left, #000, #d22);
  opacity: 0.2;
}

.img__capa-details {
  width: 100%;
  max-width: 1300px;
  position: relative;
}

.details {
  width: 50%;
  height: 500px;
  color: #fff;
  margin: 0 20px;
  padding: 50px 0;

}

.details h1 {
  font-size: 50px;
  font-weight: 30px;
}

.details p {
  font-size: 24px;
  margin: 15px 0;
}

.details button{
    font-size: 20px;
    color: #fff;
    background: transparent;
    border-radius: 20px;
    border: 2px #d22 solid;
    padding: 10px;
}

.details button:hover{
    background: #d22b;
    cursor: pointer;
}

.details button:focus{
    outline: none;
}

/* Barra */

hr{
  width: 100%;
  margin-left: 0;
  background: -webkit-linear-gradient(right, #000, #d33);
  height: 15px;
  border-color: transparent;
}

.container__img-mot{
  width: 100%;
  height: 400px;
  background: -webkit-linear-gradient(right, #ff3535, #010223);
}

.img__capa-details-mot{
  width: 50%;
  margin-left: auto;
  padding: 80px 30px;
}

.details-mot h1{
  font-size: 50px;
  color: #fff;
  margin-bottom: 20px;
}

.details-mot p {
  font-size: 24px;
  text-align: left;
  color: #fff;
  margin-bottom: 20px;

}

.details-mot button{
  font-size: 20px;
  color: #fff;
  background: #010223;
  border-radius: 20px;
  border: 2px #aa2435 solid;
  padding: 10px;
}

.details-mot button:hover{
  background: #232445;
  cursor: pointer;
}

.details-mot button:focus{
  outline: none;
}

